/* open-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
		url("../fonts/open-sans-v18-latin-regular.woff") format("woff");
}
/* open-sans-italic - latin */
@font-face {
	font-display: swap;
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("../fonts/open-sans-v18-latin-italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v18-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
	font-display: swap;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/open-sans-v18-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v18-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
	font-display: swap;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/open-sans-v18-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/open-sans-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Styles généraux */
:root {
	--primary: #DD5555;
	--font-color: #2E2E2E;
}

:focus {
	outline: .4rem dotted green;
}

/* Formats de couleurs : rgb, hexadecimal, hsl, couleurs nommées
couleurs nommées : red, white, purple, light blue, salmon, ...

rgb(red, green, blue) -> 0 à 255 / rgb(0,0,0) : noir / rgb(255,255,255) : blanc
rgba(50,24,102,0.5) -> 50% d'opacité

hexadécimal: #000000 : noir -># 00(rouge) 00(vert) 00(bleu)
0 1 2 3 4 5 6 7 8 9 a b c d e f
blanc #ffffff -> #fff
#aa5533 -> #a53
#ccceee -> cc ce ee

#ffffff77 - > opacité environ 50%

hsl : hue saturation light : teinte luminosité saturation
hue : 0 à 360
saturation: 0 à 100%
luminosité: 0 à 100%
hsl(120, 100%, 25%) : vert
hsl(360, 100%, 25%) : rouge

hsla(360,100%,25%,.5) -> rouge avec opacité à 50%
*/


/* Familles génériques de police : serif, sans-serif, monospace, cursive, fantasy */
body {
	font-family: "Open Sans", sans-serif;
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	background-color: #fff;
}

p {
	margin-bottom: 0.25em;
}

h1,
h2,
h3,
.h1-like,
.h2-like,
.h3-like {
	margin-bottom: .25em;
	line-height: 1.2;
}

h1,
.h1-like {
	font-size: 4.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2,
.h2-like {
	font-size: 3.6rem;
	font-weight: 600;
	text-transform: uppercase;
}

h3,
.h3-like {
	font-size: 2.8rem;
	font-weight: 600;
}

a {
	color: var(--primary);
}

label {
	display: block;
}

input {
	width: 100%;
	margin: 0;
	border: 0;
	padding: .4rem;
	border-radius: .2rem;
}
  
textarea {
	width: 100%;
	border: 0;
	border-radius: .2rem;
	padding: .4rem;
	height: 11.2rem;
}

/* Components */

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	min-width: 11.2rem;
	color: var(--font-color);
	font-size: 1.8rem;
	line-height: 1.2;
	text-decoration: none;
	background-color: #fff;
	border: 0;
}


.btn img {
	margin-right: 1.2rem;
}

.btn::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--primary);
	border-radius: 0.5rem;
	transform-origin: left;
	transform: scaleX(0);
	transition: .3s;
}

.btn:hover::before,
.btn:focus::before {
	transform: scaleX(1);
}

.btn-secondary {
	color: #fff;
	background-color: var(--primary);
}

.btn-secondary::before {
	background-color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: var(--primary);
}

/* Layout */

/* Unités : px, rem, em, %, vw, vh, vmin vmax, cm, mm, ch */
.container {
	width: 100%;
	max-width: 117rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

/* Header */

.main-header {
	color: #fff;
	background-color: var(--primary);
}

.main-header .container {
	display: flex;
	align-items: center;
}

.logo {
	width: 12rem;
	height: 2.8rem;
	margin-right: 2.8rem;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-resolution: 144dpi) {
	.logo {
		background-image: url(../img/logo@2x.png);
	}
}

/* Navigation */

/* Les display : flex, grid, inline, block, inline-block, inline-flex, none, table, table-cell, list-item, ... */
.menu {
	display: flex;
}

.menu-link {
	display: block;
	padding: 1.5rem;
	font-size: 1.4rem;
	line-height: 1.2;
	text-decoration: none;
	color: currentColor;
	transition: .3s;
}

.menu-link:hover,
.menu-link:focus {
	background-color: rgba(0,0,0,0.25);
}

/* Hero */
.hero {
	display: flex;
	align-items: center;
	min-height: 80vh;
	padding-top: 5rem;
	padding-bottom: 5rem;
	color: #fff;
	background-image: url(../img/about.jpg);
	background-size: cover;
	background-position: center;
}

@media (min-resolution: 144dpi) {
	.hero {
		background-image: url(../img/about@2x.jpg);
	}
}

.hero .container {
	max-width: 40rem;
}

.baseline {
	font-size: 2.4rem;
	line-height: 1.2;
}

ul.cta-list {
	display: flex;
	justify-content: space-between;
	margin-top: 2.4rem;
	padding-top: 2.4rem;
	border-top: 1px solid #fff;
}

/* Services */
.services {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.services .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3.2rem;
}

.services-title {
	grid-column: 1 / -1;
}

.service-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 12rem;
	margin: 0 auto 1.5rem;
	background-color: var(--primary);
	border-radius: 50%;
}

/* Team */
.team-header {
	padding-top: 8.5rem;
	padding-bottom: 8.5rem;
	color: #fff;
	background-image: url(../img/team.jpg);
	background-size: cover;
	background-position: top center;
}

@media (min-resolution: 144dpi) {
	.team-header {
		background-image: url(../img/team@2x.jpg);
	}
}

.team-header .h1-like {
	text-transform: none;
}

ul.members-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5.4rem;
	margin-top: 6.4rem;
	margin-bottom: 6.4rem;
}

.member-img img {
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.4rem;
	width: 24rem;
	height: 24rem;
	object-fit: cover;
	object-position: center;
}

.member-item h3 {
	margin-bottom: 2.4rem;
}
	  

/* Footer */
.contact {
	padding-top: 5rem;
	padding-bottom: 6rem;
	color: #fff;
	background-color: var(--primary);
}

.contact .container {
	max-width: 78rem;
}

.contact-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3.2rem;
	row-gap: 2rem;
	column-gap: 3.2rem;
	text-align: left;
}

.fullwidth {
	grid-column: 1 / -1;
}

  
.align-right {
	text-align: right;
}  